
@import url('./characters.css');

body{
    margin: 0;
}

#red-line{
    border: 1px solid black;
    margin: 0;
    background-color: red;
    color: white;
    padding: 2.25rem 1rem;
}

div a {
    margin: 0;
    color: white;
    text-align: right;
}

p {
    color: blue;
}

